body{
  width: 1219px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #EEEEEE;
  margin: 0;
  width: 100%;
}

h1{
  font-weight: normal;
  font-size: 64px;
  text-align: center;
  color: #007765;
}

.header{
  position: fixed;
  font-size: 24px;
  color: #FFFFFF;
  background-color:#007765;
  display: flex;
  justify-content: space-between;
  padding: 20px 55px 19px 54px;
  width: 100%; /* лишние 7% почему?*/
}

.menu{
  align-self: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block1{
  display: flex;
  background: url('file:///Users/anna/Web/images/background1.png'); 
  background-size: contain;
  height: 403px;
  margin-top: 84px;
}

.block1 h1{
  font-size: 72px;
  color: #FFFFFF;
  margin: auto;
}

.block2{
  padding: 48px 57px 92px 55px;
}

.block3{
  display: flex;
  background: url('file:///Users/anna/Web/images/background2.png'); 
  background-size: contain;
  height: 483px;
}

.block3 p{
  font-size: 48px;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
}

.block4{
  padding: 48px 54px 92px 55px;
  background-color: #FFFFFF;
}

.logo_paragraph{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block_team{
  padding: 48px 54px 92px 55px;
}

.block_team_foto{
  display: flex;
  flex-wrap: wrap;
}

.member{
  flex: 33%;  
  margin-bottom:30px;
}

.block_team h1{
  margin: auto;
  padding: 0px 0px 56px 0px;
}

.block_team img{
  width: 168px;
  height: 168px;
}

.block_team p{
  font-size: 18px;
  color: #000000;
  font-style: italic;
  margin-top:0;
  margin-bottom:0;
}

.block_team img + p {  /*переопределим для первого p*/
  font-size: 24px;
  color: #007765;
}  

.footer{
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
  padding: 48px 0px 64px 0px;
}