*{
box-sizing: border-box;
}

body{
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #EEEEEE;
}

h2{
  font-size: 64px;
  text-align: center;
  color: #007765;
}

.header{
  position: fixed;
  font-size: 24px;
  color: #FFFFFF;
  background-color:#007765;
  display: flex;
  justify-content: space-between;
  padding: 20px 55px 19px 54px;
  width: 100%; 
}

.header img{
  width: 184px;
  height: 45px;
}

.menu{
  align-self: center;
}

.content{
  display: flex;
  flex-direction: column;
}

.block1{
  display: flex;
  background: url('/images/background1.png'); 
  background-size: cover;
  height: 403px;
  margin-top: 84px;
}

.block1 h1{
  font-size: 72px;
  color: #FFFFFF;
  margin: auto;
}

.block2{
  padding: 48px 57px 92px 55px;
}

.block2 p{
  padding-top: 16px;
}

.block3{
  display: flex;
  background: url('/images/background2.png'); 
  background-size: cover;
  height: 483px;
}

.block3 p{
  font-size: 48px;
  color: #FFFFFF;
  margin:auto;
  text-align: center;
}

.block4{
  padding: 48px 54px 92px 55px;
  background-color: #FFFFFF;
}

.logo_paragraph img{
  float: left;
  margin-right: 55px;
  width: 115px;
  height: 115px;
}

.block_team{
  padding: 48px 54px 92px 55px;
}

.block_team_foto{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.member{
  flex: 33%;  
  margin-bottom:30px;
}

.member h2{
  text-align: center;
  font-size: 24px;
}

.member span{
  display: block;
  font-style: italic;
  font-size: 18px;
}

.block_team img{
  width: 168px;
  height: 168px;
}

.block_team p{
  font-size: 18px;
  color: #000000;
  font-style: italic;
  margin-top:0;
  margin-bottom:0;
}

.block_team img + p {  /*переопределим для первого p*/
  font-size: 24px;
  color: #007765;
}  

.footer{
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
  padding: 48px 0px 64px 0px;
}

.container{
  max-width: 1219px;
  margin: 0 auto;
}

@media (max-width: 600px) {

  body{
    font-size: 15px;
  }
  
  h2{
    font-size: 30px;
  }
  .header{
    font-size: 10px;
    padding: 18px 20px;
  }

.header img{
  width: 100px;
  height: 20px;
}

.block1{
  height: 300px;
  padding: 0px;
  margin-top: 56px;

}
  
  .block1 h1{
    font-size: 30px;
  }

  .block2{
    padding: 0px;
  }

  .block2 p{
    padding-top: 0px;
  }
  
  .block3{
    height: 400px;
    padding: 30px;
  }
  
  .block3 p{
    font-size: 24px;
  }

  .block4{
    padding: 0px;
  }

  .logo_paragraph img{
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }
  
  .block_team{
    padding: 0px;
  }
  
  .member{
    flex: 50%;  
    margin-bottom:30px;
  }
  
  .member h2{
    font-size: 12px;
  }
  
  .member span{
    font-size: 10px;
  }
  
  .block_team img{
    width: 100px;
    height: 100px;
  }
  
  .block_team p{
    font-size: 10px;
  }
  
  .block_team img + p {  /*переопределим для первого p*/
    font-size: 12px;
  } 
  
  .footer{
    font-size: 10px;
  }
  
  .container{
    max-width: 600px;
    padding: 20px 30px;
    }
}